<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>To Do List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body class="text-center">

  <main class="container m-auto">

    <div class="box" id="heading">
      <h1> <%= kindOfDay %> </h1>
      <h2> To-Do List </h2>
    </div>

    <div class="box">
      <% for (var i = 0; i < newListItems.length; i++) { %>
      <div class="item">
        <input type="checkbox">
        <p> <%= newListItems[i] %> </p>
      </div>
      <% } %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="button">+</button>
      </form>
    </div>

  </main>

</body>

</html>
